{% extends "base.html" %}
{% block title%}User{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
    	{% if messages %}
        	{% for message in messages %}
            	<div class="alert alert-primary alert-dismissible fade show" role="alert">
                	<span>{{ message }}</span>
                	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                	</button>
            	</div>
        	{% endfor %}
    	{% endif %}
	{% endwith %}
<form action="#" method="POST">
	<input type = "username" name="username" placeholder="Enter Username" value="{{username if username}}"/>
	<input type = "submit" value="submit"/>
</form>
{% for account in accounts %}
<p></p>
{% endfor %}
{% endblock %}