{% extends "base.html" %}
{% block title %}View Account{% endblock %}
{% block content%}

	{% for item in values %}
		<p>Account ID: {{item.bank_id}}</p>
		{% for tr in item.transactions %}
		    <div class="card" style="width: 18rem;">
			<div class="card-header">
			  Account ID: {{ac.bank_id}}
			</div>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item">Transaction ID: {{tr._id}}</li>
			  <li class="list-group-item">Merchant id: {{tr.merchant_id}}</li>
			  <li class="list-group-item">Amount: ${{tr.amount}}</li>
			  <li class="list-group-item">Date: ${{tr.date_sent}}</li>
			 </ul>
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}